* {
    box-sizing: border-box;
    font-family: "Nanum Pen Script", cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    box-shadow: 
        8px 8px 16px #a3b1c6, 
        -8px -8px 16px #ffffff;
    background: #e0e0e0; 
    padding: 5px;
}

main > .square {
    border: none; 
    width: 100px;
    height: 100px;
    font-size: 110px;
    font-weight: 900;
    color: #880808;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #e0e0e0; 
    box-shadow: 
        inset 4px 4px 8px #a3b1c6, 
        inset -4px -4px 8px #ffffff;
    border-radius: 10px;
    margin: 3px; 
}

.square.top-left {
    border-top-left-radius: 20px;
}

.square.top-right {
    border-top-right-radius: 20px;
}

.square.bottom-left {
    border-bottom-left-radius: 20px;
}

.square.bottom-right {
    border-bottom-right-radius: 20px;
}

.nav-panel {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200px;
    gap: 20px;
}

.nav-panel #reset,
.nav-panel #switch  {
    align-items: center;
    background-color: #e0e0e0;
    box-shadow: 
        8px 8px 16px #a3b1c6,
        -8px -8px 16px #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    display: flex; 
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-size: 25px;
}

.nav-panel #reset:hover,
.nav-panel #switch:hover {
    box-shadow: 
        inset 4px 4px 8px #a3b1c6,
        inset -4px -4px 8px #ffffff;
}

/* Initial Dialog */ 

.playerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    background-color: #FFFF80;
    border: 3px solid #FF5580;
    border-radius: 20px;
    box-shadow: 15px 15px;
}

.playerInput h2 {
    margin: 0;
    color: #FF0080;
    margin-bottom: 10px;
    font-size: 35px;
}

.playerInput form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
    margin-top: 0;
}

.playerInput form label {
    color: #FF0080;
}

.playerInput form input {
    padding: 2px;
    padding-left: 5px;
    border: 1.5px solid #ff557f8a;
    border-radius: 5px;
}

.playerInput .showError {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: 	#ff1717;
    height: 16px;
    margin-bottom: 10px;
}


.playerInput form input:focus {
    border: 1.5px solid #FF0080;
    outline: none;
}

.playerInput button {
    margin-top: 20px;
    background-color: #FFFF80;
    border: 2px solid #FF5580;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FF0080;
}

.playerInput button:hover {
    background-color: #f19ed3a2;
}

.playerInput button:active {
    opacity: .7;
}