@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    /* overflow: hidden; */
}

header {
    margin: 0;
    padding: 0;
    font-family: "Nanum Pen Script", cursive;
    margin-bottom: 12px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-align: center;
    color: #333333; 
    white-space: nowrap;
    overflow: hidden;
}
#scoreBoard {
    /* border: 1px solid red; */
    width: 250px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 
    8px 8px 16px #a3b1c6, 
    -8px -8px 16px #ffffff;
    background: #e0e0e0; 
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    color: #333333; 
}

#scoreBoard h3 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#scoreBoard div {
    height: 30px;
    width: 180px;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 15px;
    border-radius: 20px;
    background: #e0e0e0; 
    box-shadow: 
    8px 8px 16px #a3b1c6, 
    -8px -8px 16px #ffffff;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#scoreBoard div.player1Score {
    margin-top: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;
    box-shadow: 
        8px 8px 16px #a3b1c6, 
        -8px -8px 16px #ffffff;
    background: #e0e0e0; 
    padding: 5px;
}

main > .square {
    border: none; 
    width: 100px;
    height: 100px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 110px;
    font-weight: 900;
    color: #ff4d4d;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #e0e0e0; 
    box-shadow: 
        inset 4px 4px 8px #a3b1c6, 
        inset -4px -4px 8px #ffffff;
    border-radius: 10px;
    margin: 3px; 
}

.square.top-left {
    border-top-left-radius: 20px;
}

.square.top-right {
    border-top-right-radius: 20px;
}

.square.bottom-left {
    border-bottom-left-radius: 20px;
}

.square.bottom-right {
    border-bottom-right-radius: 20px;
}

.nav-panel {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200px;
    gap: 20px;
}

.nav-panel #reset,
.nav-panel #switch  {
    align-items: center;
    background-color: #e0e0e0;
    color: #333333; 
    box-shadow: 
        8px 8px 16px #a3b1c6,
        -8px -8px 16px #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    display: flex; 
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-family: "Nanum Pen Script", cursive;
    font-size: 25px;
}

.nav-panel #reset:hover,
.nav-panel #switch:hover {
    box-shadow: 
        inset 4px 4px 8px #a3b1c6,
        inset -4px -4px 8px #ffffff;
}

/* Initial Dialog */ 

.playerInput {
    position: relative; /* This will center our dialog automatically since body is set to flex and center all elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 350px;
    padding: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 20px;
    background-color: #e0e0e0;  
    border: none; 
    border-radius: 20px;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff; 
}

.playerInput h2 {
    margin: 0;
    color: #333333; 
    margin-bottom: 10px;
    font-size: 35px;
}

.playerInput form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
    margin-top: 0;
}

.playerInput form label {
    color: #666666;
    letter-spacing: 1px;
}

.playerInput form label > span {
    font-size: 30px;
}

.playerInput form input {
    padding: 6px;
    padding-left: 10px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

.playerInput .showError {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ff4d4d;
    height: 16px;
    margin-bottom: 10px;
}

.playerInput form input:focus {
    border: none;
    outline: none;
    box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

.playerInput button {
    margin-top: 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-family: "Nanum Pen Script", cursive;
    font-size: 17px;
    letter-spacing: 1px;
    color: #333333;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}

.playerInput button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.playerInput button:active {
    box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}
